$body-font-family: 'Work Sans', sans-serif;
$shadow-key-umbra-opacity: rgba(#1affdd, 0.1) !default;
$shadow-key-penumbra-opacity: rgba(#1affdd, 0.1) !default;
$shadow-key-ambient-opacity: rgba(#1affdd, 0.1) !default;

